
  .container{
      margin-top: 6%;
  }

  .card-body{
    background-color:bisque;
    border: 3px solid #797374;
    border-radius: 2pc;
  }
  .btn{
    margin-left: 40%;
    margin-top: 10px;
    border: 3px solid #b7cac3;
    background-color: #e45311;
    border-radius: 2pc;
}