<div class=" container-fluid hdr-top center">
    <div class="row ">
        <div class="col-4 space2">
            <p>Follow Us on Social Media</p>
        </div>
        <div class=" col-2 space">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
            <div class="col-6 space3">
                <span class="margin1">Privacy Policy </span>
                <span>|</span>
                <span  class="margin2">Disclaimer </span>
                <span>|</span>  
                <span class="margin2"> Contact</span>
            </div>
    </div> 
</div>
