


<div class="container">
    <div class="section-title uderline ">
        <h2>Department</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

    <div class="d-flex ">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
          <li ngbNavItem="Cardiology">
            <a ngbNavLink>Cardiology</a>
            <ng-template ngbNavContent>
                <div class="row gy-4">
                    <div class="col-lg-8 ">
                      <h3>Cardiology</h3>
                      <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                      <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/Images/img/departments-1.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
            </ng-template>
          </li>
          <li ngbNavItem="Neurology">
            <a ngbNavLink>Neurology</a>
            <ng-template ngbNavContent>
                <div class="row gy-4">
                    <div class="col-lg-8 ">
                      <h3>Neurology</h3>
                      <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                      <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/Images/img/departments-2.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
            </ng-template>
          </li>
          <li ngbNavItem="Hepatology">
            <a ngbNavLink>Hepatology</a>
            <ng-template ngbNavContent>
                <div class="row gy-4">
                    <div class="col-lg-8 ">
                      <h3>Hepatology</h3>
                      <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                      <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/Images/img/departments-3.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
            </ng-template>
          </li>


          <li ngbNavItem="Pediatrics">
            <a ngbNavLink>Pediatrics</a>
            <ng-template ngbNavContent>
                <div class="row gy-4">
                    <div class="col-lg-8 ">
                      <h3>Pediatrics</h3>
                      <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                      <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/Images/img/departments-4.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
            </ng-template>
          </li>
          <li ngbNavItem="Eye Care">
            <a ngbNavLink>Eye Care</a>
            <ng-template ngbNavContent>
                <div class="row gy-4">
                    <div class="col-lg-8 ">
                      <h3>Eye Care</h3>
                      <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                      <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/Images/img/departments-5.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
            </ng-template>
          </li>
        </ul>
      
        <div [ngbNavOutlet]="nav" class="ms-4"></div>
      </div>
</div>

  