.home{
  background-image: url("src/assets/Images/part_of_team.jpg");
  width:100%;
  height: 13cm;
}
.btnposition{
  margin-left: 20px;
}
.mx-5 {
  margin-right: 63rem!important;
  margin-left: 83rem!important;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
  padding: 10px;
	background-color:#20c997;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  
}

.my-float{
	margin-top:22px;
}
.float2{
	position:fixed;
	width:60px;
	height:60px;
	bottom:130px;
	right:40px;
  padding: 10px;
  color:#FFF;
	background-color:#ff7851;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  font-size: small;
}
.icon-center {
  display: block;
  margin-top: 17px;
}